@import '../../style/base.less';

@my-layout-prefix-cls: ~"@{my-prefix}-layout";

// Header
.layout-header-logo {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.layout-header-logo a {
  color: #fff;
  text-decoration-line: none;
}
.layout-header-menu {
  line-height: 64px;
}
// Content

// Footer
